In [53]:
from sqlalchemy import create_engine, inspect, insert, MetaData, select
from sqlalchemy.sql import text

# database connection details
username = "postgres"
password = "1243"
host = "localhost"
post = 5432
database = "postgres"

# connect to the database
engine = create_engine(f"postgresql://{username}:{password}@{host}:{post}/{database}")

In [58]:
# create an inspector object
inspector = inspect(engine)

# get the list of table names
table_names = inspector.get_table_names()
tables = [table for table in table_names]
print("Table names: ", tables)
    
# get the list of columns
columns = inspector.get_columns(table_names[0])
column_names = [column['name'] for column in columns]
print("Column names: ", column_names)

Table names:  ['sqlalchemytest']
Column names:  ['id', 'name', 'email']

In [59]:
# metadata and table
meta = MetaData()
meta.reflect(bind=engine)
table = meta.tables['sqlalchemytest']

In [61]:
# print existing entries
with engine.connect() as conn:
    for row in conn.execute(select(table)):
        print(row)

In [62]:
# dummy user data
user_data = [
    {'id': 1,'name': 'John', 'email': 'Mm8B5@example.com'},
    {'id': 2,'name': 'Jane', 'email': 'Mm8B5@example.com'},
    {'id': 3, 'name': 'Bob', 'email': 'Mm8B5@example.com'}
]


# execute the insert query
with engine.connect() as conn:
    # sql query
    query = insert(table).values(user_data)
    conn.execute(query)
    conn.commit()

In [63]:
# print existing entries
with engine.connect() as conn:
    for row in conn.execute(select(table)):
        print(row)

(1, 'John', 'Mm8B5@example.com')
(2, 'Jane', 'Mm8B5@example.com')
(3, 'Bob', 'Mm8B5@example.com')

In [64]:
# delete all entries
with engine.connect() as conn:
    conn.execute(table.delete())
    conn.commit()

In [65]:
# print existing entries
with engine.connect() as conn:
    for row in conn.execute(select(table)):
        print(row)